.app {
  padding: 2rem;
  font-size: x-small;
  font-family: sans-serif;
  background-color: aliceblue;

}
.goal-content{
  display: inline-block;
}
.goal-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: blueviolet;
  height: fit-content;
}

.goal-card.warning {
  background-color: #704e05;
}

.goal-card.overdue {
  background-color: #2b1c01;
}

.status.warning {
  color: #856404;
}

.status.overdue {
  color: #721c24;
}

@media (max-width: 600px) {
  .goal-card, .form, .overview {
    flex-direction: column;
    font-size: 0.9rem;
  }
}
progress {
  transition: width 0.3s ease-in-out;
}


